<mat-card>
    <mat-card-title>
        <div class="chart-title">{{currentChartTitle}}</div>
    </mat-card-title>
    <mat-card-content>
        <div class="chart-report-filter">
            <mat-form-field appearance="fill">
                <mat-label>Report types</mat-label>
                <mat-select [(ngModel)]="selectedChartType">
                    <mat-option *ngFor="let repItem of loadedReportCharts; index as repIndex"
                        [value]="repIndex">{{repItem}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="chart">
            <!-- pie chart: task count -->
            <!--<app-task-count [taskList]="taskList"
                            [isShowedTodayDate]="isFilteredToday"></app-task-count>-->
            
            <!-- line chart: completed tasks -->
            <app-line-chart></app-line-chart>
        </div>
        
    </mat-card-content>
</mat-card>
