<mat-grid-list cols="8" rowHeight="">
    <mat-grid-tile colspan="7" rowspan="2">
        <div name="title">{{titleOfRoute}}</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <app-menu-item [title]="optionMenus.title"
                        [subMenuItems_dict]="optionMenus.subMenuItemsDict"
                        [isDisplayedKeys]="optionMenus.isDisplayedLable">
        </app-menu-item>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <app-menu-item [title]="appMenus.title"
                        [subMenuItems_dict]="appMenus.subMenuItemsDict"
                        [isDisplayedKeys]="appMenus.isDisplayedLable">
        </app-menu-item>
    </mat-grid-tile>

</mat-grid-list>
