<mat-grid-list cols="8" rowHeight="">
    <mat-grid-tile colspan="7" rowspan="2">
        <div name="title">{{titleOfRoute}}</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <app-menu-item [title]="'Option'"
                        [subMenuItems_dict]="optionItemList_dict"
                        [isDisplayedKeys]="false">
        </app-menu-item>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <app-menu-item [title]="'Menu'"
                        [subMenuItems_dict]="menusItemList_dict"
                        [isDisplayedKeys]="true">
        </app-menu-item>
    </mat-grid-tile>

</mat-grid-list>
