<!-- menu title -->
<button mat-raised-button
        mat-button [matMenuTriggerFor]="beforeMenu">
        {{title}}
</button>
<!-- nested menu template -->
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <ng-container *ngIf="isDisplayedLabels">
    <!-- label key -->
    <div *ngFor="let labelKey of menuLabelKeys">
      <div class="menu-label">{{labelKey}}</div>
      <hr> <!--line -->
      <!-- menu-items -->
      <a *ngFor="let menuItem of menuItems_dict[labelKey]" mat-menu-item
        [routerLink]="['/' + menuItem.linkKey]" routerLinkActive="activated-route">
        {{menuItem.title}}
      </a>
    </div>
  </ng-container>

  <!-- Display sub-menu without topic key -->
  <ng-container *ngIf="!isDisplayedLabels">
    <a *ngFor="let menuItem of menuItemValues" mat-menu-item
      [routerLink]="'/' + menuItem.linkKey" routerLinkActive="activated-route">
      {{menuItem.title}}
    </a>
  </ng-container>
</mat-menu>
