<!-- Task data storage card -->
<mat-card>
    <mat-card-title>
        <label for="storedData">Where would you like to store data?</label>
    </mat-card-title>
    <hr>
    <mat-card-content>
        <mat-form-field class="fields-max-width" appearance="fill"
                        [ngClass]="{'input-valid': taskDataControl.valid}">
            <mat-label>Task folder path</mat-label>
            <input type="text" matInput [formControl]="taskDataControl"
                    placeholder="C:/users/userName/Document/">
            <mat-error *ngIf="taskDataControl.invalid && (taskDataControl.dirty || taskDataControl.touched)">
                <strong>Please enter a valid path! E.g.: C:/folder/...</strong>
            </mat-error>
        </mat-form-field>
    </mat-card-content>
</mat-card>

<!-- App settings card -->
<mat-card>
    <mat-card-title>
        <label for="storedData">Where would you like to store App settings? (Just readonly)</label>
    </mat-card-title>
    <hr>
    <mat-card-content>
        <mat-form-field class="fields-max-width" appearance="fill"
                        [ngClass]="{'input-valid': appSettingControl.valid}">
            <mat-label>Defalult app folder</mat-label>
            <input type="text" matInput [formControl]="appSettingControl"
                    placeholder="C:/users/userName/Document/"
                    [readonly]="true">
            <mat-error *ngIf="appSettingControl.invalid && (appSettingControl.dirty || appSettingControl.touched)">
                <strong>Please enter a valid path! E.g.: C:/folder/...</strong>
            </mat-error>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="location-save-right">
        <button mat-raised-button
                [disabled]="taskDataControl.pristine && appSettingControl.pristine"
                (click)="saveChangedPaths()">Save changes</button>
    </mat-card-actions>
</mat-card>
