.fields-max-width {
    width: 100%;
}

/* input text will be green if class contains ng-valid */
.input-valid {
   color: green;
   border: none;
}

.location-save-right {
    padding-bottom: 5vh !important;
}

.location-save-right > button {
    float: right;
}
