@if (!isEditable() && task) {
  <mat-card
    dirCardHighlight
    class="task-card task-card-default-border"
    [id]="task.id"
    (click)="onClickMatCard()">
    <mat-card-title>
      <div>{{task.title}}</div>
      <div class="card-title-button-box">
        @if (!isReadonly && isSelected()) {
          <div class="card-title-button"
          (click)="onEdit_colseCard()">edit</div>
        }
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="card-description">{{task.description}}</div>
      <div class="card-timer">
        <div>Planed time(min): {{task.timeMinutes}}</div>
      </div>
      <div class="card-divider-line"><hr></div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <app-task-timer [taskId]="task.id"
          [timerInMinutes]="task.timeMinutes"
          [statusLabel]="statusLabel()"
          [isTimePeriodToday]="isTimePeriodToday"
        (timerStatusEmitter)="onTimerStatus($event)"></app-task-timer>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    </mat-card-footer>
  </mat-card>
}

<!-- editable card -->
@if (isEditable()) {
  <mat-card
    dirCardHighlight
    class="task-card task-card-default-border"
    (click)="onClickMatCard()">
    <mat-card-title>
      <!-- card-title-input -->
      <div class="edit-card-title">
        <input matInput [formControl]="taskControls.title"
          dirInputBorder [isValid]="taskControls.title.touched && taskControls.title.valid"
          type="text" placeholder="Task Title">
        @if (taskControls.title.invalid &&
          (taskControls.title.dirty || taskControls.title.touched)) {
          <mat-error>
            <strong>Min letters: 3 to 30. Please use these letter: 0-9, a-z, -,_!</strong>
          </mat-error>
        }
      </div>
      <!-- close button -->
      <div class="card-title-button-box">
        <div class="card-title-button"
        (click)="onEdit_colseCard()">close</div>
      </div>
    </mat-card-title>
    <mat-card-content class="edit-card-content">
      <textarea class="card-description"
        [formControl]="taskControls.description"
      placeholder="Task description"></textarea>
      <div class="card-timer edit-card-timer">
        <label for="taskTime">Planed time(min):</label>
        <input matInput [formControl]="taskControls.timeMinutes"
          dirInputBorder [isValid]="taskControls.timeMinutes.touched && taskControls.timeMinutes.valid"
          id="taskTime" type="number" placeholder="in minutes">
        @if (taskControls.timeMinutes.invalid &&
          (taskControls.timeMinutes.dirty || taskControls.timeMinutes.touched)) {
          <mat-error>
            <strong>It's range [0, {{TASK_MAX_MINUTES}}] in minutes!</strong>
          </mat-error>
        }
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions class="edit-card-timer-progress">
      <div mat-button>Status: {{statusLabel()}}</div>
      <div>
        <button mat-raised-button color="green"
          [disabled]="taskForm !== undefined && taskForm.invalid"
        (click)="onSaveCard()">Save</button>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    </mat-card-footer>
  </mat-card>
}
