.alert-window {
    width: auto;
    border: 3px solid white;
    border-radius: 10px;
}

.alert-close {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.alert-msg {
    padding-left: 10px;
}

/*alert color:*/
.alert-info {
    color: blue;
    background-color: lightblue;    
    border-color: blue;
}

.alert-error {
    color: red;
    background-color: rgba(255, 0, 0, 0.3);
    border-color: red;
}

.alert-success {
    color: darkgreen;
    background-color: rgba(0, 128, 0, 0.3);
    border-color: darkgreen;
}

.alert-warning {
    color: rgb(255, 187, 0);
    background-color: rgba(255, 187, 0, 0.25);
    border-color: rgb(255, 187, 0);
}
