<div class="mat-card">
    <div class="task-new">
        <div>
            Task numbers: <span>{{filteredTaskCount}}</span>
            <span *ngIf="!isLockedTasks">/{{MAX_LIMIT_TASKS}}</span>
        </div>
        <button mat-raised-button (click)="addNewTask()">+ New task</button>
    </div>

    <div class="taks-filter">
        <!-- task status fiter -->
        <mat-form-field appearance="fill">
            <mat-label>Select Task status!</mat-label>
            <mat-select [(ngModel)]="selectedStatus"
                        (ngModelChange)="onFilterStatus()">
                <mat-option [value]="">All</mat-option>
                <mat-option *ngFor="let status of taksStatusList"
                    [value]="status">{{status}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <!-- time period filter -->
        <mat-form-field appearance="fill">
            <mat-label>Time period:</mat-label>
            <mat-select [value]="defaultTaskTime"
                        (selectionChange)="onChangedTimePeriod($event)">
                <mat-option value="0">Today</mat-option>
                <mat-option value="1">Yesterday</mat-option>
                <mat-option value="2">Week</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<!-- empty line -->
<div>&nbsp;</div>

<div class="task-container">
    <app-task-card *ngFor="let task of taskList"
                    [task]="task"
                    [isReadonly]="isLockedTasks"
                    (newTaskCreationFailed)="onRemoveFailedNewTask($event)"></app-task-card>
</div>
