<div class="task-timer">
    <!-- start -->
    <button *ngIf="!isTimerStarted && !isTimerFinished && timerInMinutes > 0"
        mat-button [disabled]="!isTimePeriodToday || timerInMinutes === 0"
            (click)="startTimer()">{{statusLabel}}</button>
    <!-- inProgress or completed -->
    <span *ngIf="isTimerStarted || isTimerFinished">{{statusLabel}}</span>
    <!-- counterClock -->
    <div *ngIf="isTimerStarted && !isTimerFinished">
        <span>{{timerInMillisec | date:'HH:mm:ss':'UTC'}}</span>
    </div>
</div>
<mat-progress-bar *ngIf="isTimerStarted && !isTimerFinished" 
                    mode="determinate" [value]="progessBarPercent"></mat-progress-bar>

