// The menu label, mouse hover and activated(visited link) colors are changale via the container.
@mixin container($labelColor, $hoverColor, $activatedColor, $background: 'inherit') {
    .mat-mdc-menu-panel,
    .mat-mdc-menu-content {
      background: $background;
    }

    .mat-mdc-menu-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .menu-label {
      display: block;
      padding: 6px 10px;
      background-color: $labelColor;
      font-weight: 500;
    }

    .mat-mdc-menu-item {
      min-height: 36px;
    }

    .mat-mdc-menu-item,
    .mat-mdc-menu-item .mat-icon {
      color: inherit;
    }
  
    .mat-mdc-menu-item:hover {
      // default color
      color: inherit;
      @if $hoverColor != '' {
        color: $hoverColor;
      }
    }
  
    .activated-route {
      color: $activatedColor !important;
      font-weight: bold;
    }
}

@mixin button($background) {
  app-menu-item > .mat-mdc-button-base {
    background: $background;
  }
}