@use "sass:map";
@use "@angular/material" as mat;
@use "../components/menu" as menu;
@use "../components/form" as form;

$app-blue-primary: mat.m2-define-palette(mat.$m2-blue-palette, 900);
$app-blue-accent: mat.m2-define-palette(mat.$m2-teal-palette, A200, A100, A400);
$app-blue-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette, 900);

// define the blue theme
$app-blue-dragon: mat.m2-define-light-theme((
    color: (
      // primary: the color that appears most frequently throughout your application
      primary: $app-blue-primary,
      // accent palette used to selectively highlight key parts of your UI
      accent: $app-blue-accent,
      // error, palette used for warnings and error states
      warn: $app-blue-warn,
    )
));

@mixin body($componentBackground, $textColor) {
  background: rgba(0, 55, 125, 0.89);;
  background-image: url('../../assets/pictures/blueDragon.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  color: $textColor;

  .header-title {
    background: $componentBackground !important;
  }
}

@mixin task-card($background, $textColor) {
  $input-color:  lightskyblue;
  $input-bgColor: #005773;
  .task-container {
    border-color: black !important;
  }

  .mat-card {
    background: $background;
    color: $textColor;
  }

  // add new task button
  .mat-card > .task-new > button {
    background: rgb(101 175 214);
  }

  .mat-card-title input {
    @include form.input-field-color($input-bgColor, $input-color);
  }

  // edit button
  .card-title-button{
    border: 2px solid $textColor !important;
  }

  .mat-card-content {
    textarea {
      @include form.input-field-color($input-bgColor, $input-color);
    }
    

    .edit-card-timer input {
      @include form.input-field-color($input-bgColor, $input-color);
    }
  }

  // status button
  .mat-card-actions {
    button {
      color: $textColor;
      background-color: lightblue;
      border: 1px solid $textColor;
    }
  }

  .task-card-highlight {
    border-color: snow !important;
  }
}

// selection input tag
@mixin comboBox {
  .mat-select-panel {
    background-color: rgb(10, 80, 142);
  }

  .mat-option {
    color: aqua;
  }

  // selected option
  .mat-selected {
    color: snow !important;
  }
}

@mixin alert-message($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);

  // Get the warn color palette from the color-config.
  $warn-palette: map.get($color-config, "warn");
  $primary-palette: map.get($color-config, "primary");

  .alert-info {
    color: mat.m2-get-color-from-palette($primary-palette) !important;
    background-color: mat.m2-get-color-from-palette($primary-palette, A100) !important;
    border-color: mat.m2-get-color-from-palette($primary-palette) !important;
  }

  .alert-warning {
    color: mat.m2-get-color-from-palette($warn-palette) !important;
    background-color: mat.m2-get-color-from-palette($warn-palette, A100) !important;
    border-color: mat.m2-get-color-from-palette($warn-palette) !important;
  }

  .alert-error {
    color: maroon !important;
    background-color: rgba(255, 0, 0, 0.9) !important;
    border-color: maroon !important;
  }

  .alert-success {
    background-color: rgba(0, 255, 0, 0.88) !important;
  }
}

// It will be applay if you add it into body class
.blue-dragon-theme {
    $blueText: darkblue;
    $compBackground: rgba(0, 186, 237, 0.9);
    
    $menu-bgColor: #4dcef2eb;
    $menu-label-background: rgba(10, 38, 62, 0.45);
    $menu-hover-color: rgb(8, 50, 92);
    $mneu-activated-color: darkblue;
    
    @include mat.all-component-colors($app-blue-dragon);
    @include body($compBackground, $blueText);
    @include comboBox();
    @include task-card($compBackground, $blueText);
    @include menu.container($menu-label-background, $menu-hover-color,
                            $mneu-activated-color, $menu-bgColor);
    @include menu.button(rgb(101 175 214));
    @include alert-message($app-blue-dragon);
}
