// Default ligth-theme of the angular Material.
@use "sass:map";
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-light-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$app-light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-light-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $app-light-primary,
    accent: $app-light-accent,
    warn: $app-light-warn,
  )
));
