/* You can add global styles to this file, and also import other style files */

/*#region Angular Material settings*/
html, body { height: 100%; }
body {font-family: Roboto, "Helvetica Neue", sans-serif; }

/* green button stlye
 * mat-raised-button color="green"
 */
.mat-green {
    background: rgb(0, 220, 1)
}
/*#endregion*/

.center {
    text-align: center;
}